Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@Toggers 
apple
/
swift
2.5k
51.5k
8.4k
 Code
 Pull requests 417
 Security 0
 Insights
swift/.gitignore
@SlaunchaMan SlaunchaMan Add Brewfile.lock.json to .gitignore.
3d5352d on Mar 29
@palimondo@SlaunchaMan@swift-ci@slavapestov@practicalswift@gottesmm@mxswd@lplarson@tkremenek@hughbe@gribozavr@Mitame@cheshire@dduan@compnerd@benlangmuir
65 lines (56 sloc)  2.03 KB
  
#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#
# This file is intentionally different from the output of `git svn show-ignore`,
# as most of those are useless.
#==============================================================================#

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# Temp files created by most text editors.
*~
# Merge files created by git.
*.orig
# Byte compiled Python modules.
*.pyc
# vim swap files
.*.sw[a-z]
.sw?

#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#
Brewfile.lock.json
cscope.files
cscope.out
.vimrc
tags

#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
# Generated docs
docs/_build

# Finder metadata
.DS_Store

# Visual Studio metadata
.vs

# clangd
.clangd

#==============================================================================#
# Ignore CMake temporary files
#==============================================================================#
CMakeCache.txt
CMakeFiles
.atom-build.json

#==============================================================================#
# Ignore compile database
#==============================================================================#
compile_commands.json

# Ignore generated GYB files until we fix the workaround on Windows
#==============================================================================#
8
4
SortedCFDatabase.def
htmlcov
.coverage
/benchmark/scripts/Benchmark_Driverc
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
